@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-blue-900 mb-2 text-xl font-semibold;
}

h3 {
  @apply text-black mb-2 text-lg font-medium;
}

input, textarea, select {
  @apply border-2 border-gray-300 rounded-md px-1 w-full;
  @apply mb-2;
}

input:focus, textarea:focus, select:focus {
  @apply border-2 border-blue-900;
}

label {
  @apply text-blue-900;
}

img {
 max-height: 100%;
}

.btn1 {
  @apply bg-blue-900 hover:bg-blue-800 rounded-md text-white;
}

.btn2 {
  @apply bg-gray-200 border text-center py-1 px-2 rounded-lg hover:bg-gray-300 flex gap-1 text-sm font-medium
}

.btn-red {
  @apply bg-red-800 hover:bg-red-700 rounded-md text-white;
}

.btn-gray{
  @apply bg-gray-700 hover:bg-gray-600 rounded-md text-white;
}

table.basic {
  @apply w-full;
}

table.basic tr td {
  @apply border border-gray-300 p-1;
}

table.basic thead tr td {
  @apply bg-blue-100 text-center;
}

table.basic a {
  @apply bg-blue-900 text-white text-sm p-1 rounded-md hover:bg-blue-800 inline-flex gap-1 m-1;
}

.prodbox {
  @apply border-2 border-blue-900 text-left py-2 px-6 rounded-xl bg-gray-300 max-w-xl;
}

.imgupload {
  @apply bg-gray-200 w-24 h-24 flex flex-col cursor-pointer items-center text-sm justify-center gap-1 text-gray-500 hover:text-gray-700 rounded-lg;
}
